<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id = "website_nav">
  <a class="navbar-brand" routerLink="/api/home" id="home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <div *ngIf="loggedIn() == 'N'; then loginBlock; else logoutBlock"></div>
      <ng-template #logoutBlock>
      <li class="nav-item">
        <a class="nav-link" routerLink = "/api/movies">MovieList<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink= "/api/shoppingcart">Checkout</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="/api/logout">Logout</a>
      </li>
    </ng-template>

      <ng-template #loginBlock>
        <li class="nav-item">
          <a class="nav-link" routerLink="/api/login">Login</a>
        </li>
      </ng-template>
        <li class="nav-item">
          <a class ="nav-link" routerLink="/api/fablix/_dashboard">DashBoard</a>
        </li>

    </ul>
  </div>
</nav>



